<div class="pagetitle">
  <h1>Profile</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Users</li>
      <li class="breadcrumb-item active">Profile</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile">
<div class="row">

<div class="col-xl-4">

<app-datospersonales></app-datospersonales>

</div>

<div class="col-xl-8">

<app-datos-familiares></app-datos-familiares>
</div>
</div>
</section>
